*{
    margin: 0; 
}

:root{
    --pry-color:hsl(0, 0%, 0%);
    --sec-color:hsl(0, 0%, 100%);
    --color-heading:#fc6f53;
    --bk-colr:black;

}
body{
    background: var(--pry-color);
    color: var(--sec-color);
    display:grid;
    place-items: center;
    height: 100vh;
    
}
/* The typing effect */
.typing::after {
    content: "|";
    animation: typing 1s steps(30, end);
  }
/* The typewriter cursor effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.typing{
    width: fit-content;
    font-size: 5vw;
    transition: .2s;
}
.animation-effect::after {
  content: "|";
  animation: typing .4s steps(30, end);
}
@keyframes animation-effect {
    from { width: 0 }
    to { width: 100% }
  }
.projects-info{
    width: fit-content;
    background-color: hsl(0, 3%, 18%) !important;
    padding: 14px;
}

/* Projects */

.project-containerr{
  /* border: solid rosybrown; */
  padding: 5px;

  
}


.project-heading:hover.project-description{
  /* display: grid; */
}

.project-heading{
  color: var(--color-heading);
  font-weight: 600;
}



.project-lists{
  
  background: rgba(128, 128, 128, 0.373);
  width: 100%;
  height: 80px;
  padding:10px;
    margin-bottom: 30px;
  overflow: hidden;
  /* border: solid red; */
  transition: 0.5s;
}
.project-description{
  margin-top: 40px;
}
.project-lists:hover{
  cursor: pointer;
  height: 300px;
  transition: 0.5s ;
 
}